.profileLink{
    display: flex;
}

.avatar{
    margin: 5px;
    align-self: center;
    border-radius: 21px;
    border: solid #F9F9F9 1px;
}

.fullName{
    margin: 5px;
    text-align: center;
}

.jobTitle{
    text-align: center;
    margin: 5px;
    padding: 2px;
    background-color: #7EB0C6;
    border-radius: 20px;
}